.customShadow{
    box-shadow: 7px 9px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 7px 9px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 7px 9px 0px 0px rgba(0,0,0,1);
}
.custombtnShadow{
    box-shadow: 3px 2px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 3px 2px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 3px 2px 0px 0px rgba(0,0,0,1);
}
.custombtnShadow:hover{
    box-shadow: 5px 4px 0px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 5px 4px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 4px 0px 0px rgba(0,0,0,1);
}
