/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Caprasimo&family=Chonburi&family=Corben:wght@400;700&family=Fredericka+the+Great&family=Oswald:wght@300;400;500;600;700&family=Rye&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Averia Serif Libre', cursive; */
  /* font-family: 'Caprasimo', cursive; */
  /* font-family: 'Chonburi', cursive; */
  font-family: 'Corben', cursive;
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Rye', cursive; */
}

.customShadow{
  box-shadow: 7px 9px 0px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 7px 9px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 0px 0px rgba(0,0,0,1);
}